@using Otomasyon.İs.Concrete
@using Otomasyon.VeriErisim.Concrete.Sql
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

}
<div class="content-wrapper">
    <div class="container">
        
    </div>
</div>
